// Global
* {
  font-family: 'Muli', sans-serif;  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Ovo', serif;  
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

// Header

header nav a {
  text-align: center;
}

// StoryFilter
div.form-group {
  margin: 0;
  padding: 0;
}

// StoryList

section.story-list {
  background: orangered;
  padding: 1vw;
}

// Story
div.story {
  background: rgb(228, 210, 186);
  margin: 1vw;
  padding: 1vw;
  height: 100vw;
  h2 {
    margin: 3vw 1vw;
  }
  p {
    margin: 2vw 1vw;
    font-size: 6vw;
  }
}

@media only screen and (min-width: 321px) {
  
  div.story {
    h2 {
      margin: 5vw 1vw;
      font-size: 9vw;
    }
    p {
      font-size: 6vw;
    }
  }

}

@media only screen and (min-width: 426px) {
  
  section.story-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  div.story {
    height: 47vw;
    width: 47vw;
    margin: 1vw;
    h2 {
      margin: 1vw;
      font-size: 4vw;
      line-height: 4vw;
    }
    p {
      font-size: 2.5vw;
    }
  }

}
