// Global
* {
  font-family: 'Muli', sans-serif;  
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Ovo', serif;  
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

// Header
//Height 15vh

header nav.navbar-default {
  margin: 0;
  height: 20vh;
}

header nav div.container{
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  div.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  ul.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

header h1 {
  font-family: 'Muli', sans-serif;
  span {
    color: rgb(255,106,50);
  }  
}
// Search 
//Height 5vh

form.search div.form-group {
  label {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  input {
    height: 10vw;
  }
}

// StoryFilter
// Height 10vh

main div.form-group label {
  margin: 2vw;
}
div.form-group.story-filter {
  margin: -4vw 0 2vw;
  padding: 0;
  font-size: 6vw;
  text-align: center;
  height: 14vh;
  label {
    font-weight: normal;
  }
  select {
    height: 12vw;
  }
}

// StoryList
section.story-list {
  background: rgb(255,106,50);
  padding: 1vw;
  margin: 1vw 0;
  min-height: 70vh;
}

// Story
div.story {
  background: rgb(241,233,221);
  margin: 1vw 1vw 2vw 1vw;
  padding: 1vw;
  min-height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin: 3vw 1vw;
  }
  p {
    margin: 2vw 1vw;
    font-size: 6vw;
  }
  div.story-info {
    flex: 1;
    justify-content: center;
  }
  div.interaction {
    display: flex;
    justify-content: space-around;
    * {
      font-size: 8vw;
      padding: 2vw 1vw;
    }
  }
}

@media only screen and (min-width: 321px) {

  // Search 

  form.search {
    margin-top: 2vw;
  }
  form.search div.form-group {
    // margin: -2vw 0 4vw;
    input {
      width: 95vw;
      margin: auto;
    }
  }
  
  // StoryFilter
  div.form-group.story-filter {
    font-size: 5vw;
    margin: -4vw 0 1vw;
    #story-filter {
      height: 10vw;
      width: 95vw;
      margin: auto;
    }
  }

  // Story
  div.story {
    h2 {
      margin: 1vw;
      font-size: 7.5vw;
      line-height: 10vw;
    }
    p {
      font-size: 5vw;
    }
  }

}

@media only screen and (min-width: 426px) {
  
  // Header

  header nav.navbar-default {
    height: 5vh;
  }

  header nav div.container {
    font-size: 3vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    ul.navbar-nav {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }

  // Search
  form.search div.form-group {
    input {
      height: 7vw;
    }
  }

  // StoryFilter
  div.form-group.story-filter {
    margin: -4vw 0 4vw;
    font-size: 3vw;
    #story-filter {
      height: 7.5vw;
    }
  }

  // StoryList
  section.story-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }

  //Story
  div.story {
    // min-height: initial;
    min-height: 30vw;
    width: 32.4vw;
    margin: .4vw 0;
    h2 {
      margin: 1vw;
      font-size: 3vw;
      line-height: 4vw;
    }
    p {
      font-size: 2vw;
      line-height: 3vw;
    }
    div.interaction {
      * {
        font-size: 3vw;
      }
    }
  }

}

@media only screen and (min-width: 767px) {
  
  // Header
  header nav div.container {
    font-size: 2.6vw;
  }

  //Search
  form.search div.form-group {
    input {
      width: 90vw;
      height: 4vw;
    }
  }

  // StoryFilter
  div.form-group.story-filter {
    font-size: 2.5vw;
    margin: -4vw 0;
    #story-filter {
      height: 4vw;
      width: 90vw;
      margin: 0 auto 2vw;
    }
  }

  // StoryList
  section.story-list {
    padding: 1vw 6vw;
    min-height: 90vh;
  }

  //Story
  div.story {
    height: 28.3vw;
    width: 28.3vw;
    margin: .5vw;
    padding: .3vw;    
    h2 {
      margin: 1.2vw .5vw;
      font-size: 2.5vw;
      line-height: 4vw;
    }
    p {
      margin: 1vw .5vw;
      font-size: 1.8vw;
      line-height: 2.5vw;
    }
  }

}
@media only screen and (min-width: 1024px) {
  
  // Header
  header nav div.container {
    font-size: 1.7vw;
  }

  //Search
  form.search div.form-group {
    input {
      width: 85vw;
    }
  }

  // // StoryFilter

  div.form-group.story-filter {
    font-size: 2.5vw;
    margin: -4vw 0 1vw;
    #story-filter {
      height: 4vw;
      width: 85vw;
      margin: 0 auto 2vw;
    }
  }

  // StoryList
  section.story-list {
    padding: 1vw 6vw;
  }

  //Story
  div.story {
    min-height: 27.5vw;
    width: 27.5vw;
    margin: .5vw;
    padding: .3vw;
    h2 {
      margin: 1.2vw .5vw;
      font-size: 2.2vw;
      line-height: 2.9vw;
    }
    p {
      margin: 1vw .5vw;
      font-size: 1.5vw;
      line-height: 1.5vw;
    }
  }

}

@media only screen and (min-width: 1440px) {

  //Search
  form.search div.form-group {
    input {
      height: 2.5vw;
    }
  }

  // StoryFilter

  div.form-group.story-filter {
    font-size: 1.7vw;
    margin: -2vw 0 2vw;
    #story-filter {
      height: 2.5vw;
      margin: 0 auto 2vw;
    }
  }

  //Story
  div.story {
    min-height: 20vw;
    width: 20vw;
    h2 {
      margin: 1vw .2vw;
      font-size: 2vw;
      line-height: 2.5vw;
    }
    p {
      font-size: 1.2vw;
      line-height: 1.2vw;
    }
    div.interaction {
      * {
        font-size: 2vw;
        padding: 1vw 0;
      }
    }
  }

  

}