h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none; }

.story {
  background: sandybrown;
  margin: 5px; }
  .story p {
    margin: 2px 0; }
